/* Основные стили для тела страницы */
body {
  background-color: #1a0404; /* Цвет фона - темно-коричневый */
  overflow: hidden; /* Скрытие лишнего контента за пределами экрана */
  display: flex; /* Использование flexbox для выравнивания элементов */
  align-items: center; /* Выравнивание по центру по вертикали */
  justify-content: center; /* Выравнивание по центру по горизонтали */
  text-align: center; /* Выравнивание текста по центру */
}

/* Стили для тела и html-элемента */
body,
html {
  height: 100%; /* Задание высоты 100% */
  width: 100%; /* Задание ширины 100% */
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
}

/* Стили для SVG-элемента */
svg {
  width: 90%; /* Ширина 90% от родительского контейнера */
  height: 90%; /* Высота 90% от родительского контейнера */
  visibility: hidden; /* Скрытие элемента */
}

/* Стили для заголовка первого уровня */
h1 {
  color: #ffffff; /* Цвет текста - белый */
  font-family: "Arial", sans-serif; /* Шрифт - Arial или аналогичный */
  font-size: 100px; /* Размер шрифта 100 пикселей */
  margin-top: -100px; /* Отступ сверху -100 пикселей */
  display: inline-block; /* Размещение в строчном блоке */
  animation: parpadeo 0.5s infinite alternate; /* Анимация мерцания */
  text-decoration: overline 2px solid rgb(143, 43, 57); /* Добавление желтой линии сверху текста */
}

/* Анимация мерцания */
@keyframes parpadeo {
  0%,
  100% {
    color: #ffffff; /* Цвет текста - белый */
    opacity: 1; /* Полная непрозрачность */
  }

  50% {
    color: #00ff00; /* Цвет текста - зеленый */
    opacity: 0; /* Полная прозрачность */
  }
}

/* Стили для кнопки */
.button button {
  background-color: rgb(41, 128, 185); /* Фон - оттенок синего */
  border: none; /* Без границы */
  padding: 10px 20px; /* Заполнение внутри кнопки */
  font-size: 18px; /* Размер шрифта 18 пикселей */
  cursor: pointer; /* Изменение формы курсора при наведении */
  position: absolute; /* Абсолютное позиционирование относительно ближайшего позиционированного родителя */
  top: calc(
    50% + 90px
  ); /* Располагаем верхнюю границу кнопки на 50% + 50px от высоты родительского контейнера */
  left: 50%; /* Располагаем левую границу кнопки на 50% от ширины родительского контейнера */
  transform: translate(
    -50%,
    -50%
  ); /* Сдвигаем кнопку на -50% от ее собственной ширины и высоты для точного центрирования */
  border-radius: 20px; /* Скругление углов */
  transition: background-color 0.3s ease-in-out; /* Плавное изменение цвета фона */
}

/* Стили для ссылки внутри кнопки */
.button button a {
  text-decoration: none; /* Убираем подчеркивание у ссылки */
  color: inherit; /* Наследуем цвет текста от кнопки */
}

/* Эффект свечения при наведении на кнопку */
.button button:hover {
  background-color: rgb(
    26,
    82,
    118
  ); /* Изменение цвета фона при наведении на синий */
  box-shadow: 0 0 10px rgb(178, 34, 34), 0 0 20px rgb(26, 82, 118),
    0 0 30px rgb(178, 34, 34); /* Эффект свечения - темно-красный и яркий синий цвета */
}
